@model IEnumerable<SigaDocIntegracao.Web.Models.ModuloEmail.ExModeloEmailParamModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Modelos Incluidos no Envio de E-mail</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConteudoEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoModelo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Destinatarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConteudoEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
